<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Price Predictor </title>
</head>
<body>
    <h1>Hello World ! </h1>

    <form action="/predict/" method="post">
        <div >
            <div class="p-2 w-1/2">
                <div class="relative">
                    <label for="name" class="leading-7 text-sm text-gray-600">Open</label>
                    <input type="text" id="open" name="open" class="w-full" />
                </div>
            </div>
            
        </div>
    </form>
</body>
</html>